body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em;
}

section {
  margin: 20px;
}

.course {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}

/* Specifika stilar för kurssidan */
#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Specifika stilar för kursdetaljsidan */
.course-details {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#adminButton {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Lägg till absolut position för att positionera knappen inuti headern */
  top: 5%; /* Placera knappen 50% från toppen av headern */
  right: 20px; /* Justera högermarginalen efter behov */
  transform: translateY(-50%); /* Centrera knappen vertikalt */
}

#adminButton:hover {
  background-color: #2980b9;
}
